@charset "utf-8";
header {
  position: sticky;
  top: 0;
  z-index: 1;
}
.white-background {
  background: #fff;
}
.inner {
  width: 1100px;
  margin: 0 auto;
}
.nav-inner {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  align-items: flex-start;
}
.fa-3x {
  color: #777;
}
.nav-contact {
  background-color: #6ba7eb;
  padding: 12px 14px;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
.hamburger-menu {
  display: none;
}
}
.nav-inner a:hover {
  color: #333;
  transition: 0.3s;
}
.nav-inner a {
  text-decoration: none;
  color: #ffffff;
}
.keyvisual {
  background-image: url(../img/keyvisual/keyvisual.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 400px 0;
}
.title-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.web {
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  text-align: center;
}
.direction {
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 30px;
  text-align: center;
}
.work {
  background: #e3f2fd;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.work-inner {
  display: flex;
  align-items: flex-start;
}
.img-work {
  flex: 4;
  display: flex;
  justify-content: center;
}
.tv {
  width: 250px;
}
.wrapper-work {
  flex: 6;
}
.h2-work {
  margin-top: 20px;
  text-align: center;
}
.h2-title {
  letter-spacing: 10px;
  font-size: 40px;
}
.text-work {
  margin-top: 35px;
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
  text-align: center;
}
.skills {
  background: #fff;
}
.h2-skills {
  padding: 50px 0;
  text-align:center;
}
.skills-inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 70px;
}
.skills-img{
  width: 300px;
  height:300px;
  opacity: 0.7;
  display: block;
  transition: 0.7s;
}
.skills-link {
  margin-right: 100px;
  margin-top: 100px;
}
.skills-img:hover {
  opacity: 1;
  transition: 0.7s;
}
.skills-link:nth-child(3n) {
  margin-right: 0px;
}
.skills-link:nth-child(-n+3) {
  margin-top: 0px;
}
.plan {
  background: #d0dfea;
  padding: 50px 0;
}
.h2-plan {
  text-align: center;
}
.cell-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  line-height: 26px;
  table-layout: fixed;
  margin-top: 50px;
}
tr:nth-child(2n-1) {
  background: #e0efff;
}
tr:nth-child(2n) {
  background: #f9f9f9;
}
.plan-blue th {
  background: #6ba7eb;
}
tr th, tr td {
  border-left: 2px solid #fff;
  padding: 10px;
  text-align: center;
}
tr th:first-child {
  border-left: none;
}
.sns {
  background: #e3f2fd;
  padding: 200px 0;
  display: flex;
  justify-content: center;
}
.awesome {
  color: #8c8c8c;
  width: 185px;
  font-size: 40px;
  overflow: hidden;
  padding: 25px 0;
  text-align: center;
  transition: 0.5s;
}
.awesome:hover {
  background: #fff;
  transition: 0.5s;
}
.footer-gray {
  background: #cfd8dc;
  display: flex;
  justify-content: flex-end;
}
.nav-footer {
  padding: 20px 0 25px 0;
  font-size: 10px;
  letter-spacing: 0.5px;
  margin-right: 10%;
}

/*TAB版*/
@media screen and (max-width: 1199px) {
  /*レスポンシブ対応*/
  .inner {
    width: 97%;
  }
  .keyvisual {
    padding: 250px 0;
  }
  .work-inner {
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    width: 100%;
  }
  .skills-inner {
    flex-direction: column;
    align-items: center;
  }
  .skills-link {
    margin-right: 0px;
    margin-top: 0px;
  }
  .skills-link:nth-child(3n) {
    margin-bottom: 80px;
  }
  .skills-link:nth-child(6) {
    margin-bottom: 0px;
  }
}

/*sp版*/
@media screen and (max-width: 767px) {
  /*ハンバーガーメニュー*/
  .nav-contact {
    display:none;
  }
  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #fff;
    border: solid 1px gray;
  }
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
      content: '';
      display: block;
      height: 3px;
      width: 25px;
      border-radius: 3px;
      background-color: gray;
      position: absolute;
  }
  .menu-btn span:before {
      bottom: 8px;
  }
  .menu-btn span:after {
      top: 8px;
  }

  /*チェック時に×表示*/
  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
      bottom: 0;
      transform: rotate(45deg);
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
      top: 0;
      transform: rotate(-45deg);
  }
  #menu-btn-check {
      display: none;
  }

  /*レスポンシブ対応*/
  .keyvisual {
    padding: 200px 0;
  }
  .web {
    font-size: 40px;
  }
  .direction {
    font-size: 30px;
  }
  .cell-table {
    font-size: 14px;
    line-height: 22px;
  }
  tr td {
    font-size: 12px;
  }
  .sns {
    padding: 50px 15px;
    flex-direction: column;
  }
  .awesome {
    width: 100%;
    padding: 50px 0;
  }
}